@{
  Layout = "_Layout";
}
@{
  Layout = "_Layout";
}
@model PierrsBakery.Models.Order

<h4>Add a new order</h4>
@using (Html.BeginForm())
{
    <h3>Please enter Title: @Html.TextBoxFor(model => model.OrderTitle)</h3>
    <h3>Please enter Description: @Html.TextBoxFor(model => model.OrderDescription)</h3>
    <h3>Please enter Price:  @Html.TextBoxFor(model => model.OrderPrice, new { type = "number", min = "0", step = "0.01" })</h3>
    <h3>Please enter Date:  @Html.EditorFor(model => model.OrderDate, new { @type = "date" })</h3>
    <h3>Select @Html.LabelFor(model => model.Vendor) to add orders: @Html.DropDownList("VendorId")</h3>
    <h3><input type="submit" value="Submit in order to add a new order" /></h3>
}
<hr/>
<h3>@Html.ActionLink("Show all vendors ", "Index","Vendors")</h3>
<h3>@Html.ActionLink("Return Home Page", "Index","Home")</h3>