@{
  Layout = "_Layout";
}

@model PierrsBakery.Models.Order

<h2>Welcome Order's Details</h2>
<hr />
<h3>Title: @Html.DisplayFor(model => model.OrderTitle)</h3>
<h3>Description: @Html.DisplayFor(model => model.OrderDescription)</h3>
<h3>Price: @Html.DisplayFor(model => model.OrderPrice)</h3>
<h3>Date: @Html.DisplayFor(model => model.OrderDate)</h3>
<hr />
<h3>@Html.ActionLink("Update order", "Update", new { updateID = Model.OrderId })</h3>
<h3>@Html.ActionLink("Delete  order", "Delete", new { deleteID = Model.OrderId })</h3>
<h3>@Html.ActionLink("Back To Orders's List", "Index", "Orders")</h3>
<h3>@Html.ActionLink("Back to list", "Index")</h3>