@{
  Layout = "_Layout";
}

@model PierrsBakery.Models.Vendor

<h2>Are you sure you want to delete this?</h2>
<h3>Vendor Id#@Html.DisplayFor(model => model.VendorId): Name: @Html.DisplayFor(model => model.VendorName) ,Description: @Html.DisplayFor(model => model.VendorDescription), Phone number: @Html.DisplayFor(model => model.VendorPhone),Zip code: @Html.DisplayFor(model => model.VendorZip);</h3>


@using (Html.BeginForm())
{
    
    <h3><input type="submit" value="Submit in order to delete vendor from the list" /></h3>
}
<hr/>
<h3>@Html.ActionLink("Back to list of stylists", "Index")</h3>
<h3>@Html.ActionLink("Return Home Page", "Index","Home")</h3>
