@{
  Layout = "_Layout";
}
@using PierrsBakery.Models;
@model List<PierrsBakery.Models.Vendor>;
  <center>
<h1>Welcome list of vendor's page.</h1>
@if(@Model.Count==0)
{
    <h4>There is no vendors in our list.</h4>
}
  @foreach(Vendor vendor in Model)
  {
      <h3>@Html.ActionLink($"{vendor.VendorName}",  "Show", new { readID = vendor.VendorId})</h3>
  }

<hr/>
<h3>@Html.ActionLink("Add new Vendor", "New")</h3>
<h3>@Html.ActionLink("See all Orders", "Index", "Orders")</h3>
<h3>@Html.ActionLink("Search Vendor", "Search", "Vendors")</h3>
<h3>@Html.ActionLink("Return Home Page","Index","Home")</h3>
  </center>
